<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Conditional statement </title>
</head>
<body>

<h1> use is <span th:style = "${isActive} ? 'color:green':'color:red'" th:text="${isActive} ? 'Active' : 'Not Active'"></span></h1>
<h1 th:if= "${gender}=='M'"> Male </h1>
<h1 th:unless="${gender}=='M'"> Female </h1>

<div th:switch="${#lists.size(mylist)}">
<h1 th:case="'0'">list contain zero ele</h1>
<h2 th:case="'1'">list contain one ele</h2>
<h1 th:case ="*">list contain more than one elements</h1>
</div>
</body>
</html>