<!DOCTYPE html>
<html lang= "en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>footer template</title>
</head>
<body>

<!-- replace 
<footer th:fragment="footer1">
<div class="container" >
 	<h1>about the code</h1>
 	<h2> programming</h2>
 	
 	<p>gvdsnweygdhvbx cnbvdufjbchxn </p>
</div>
</footer>-->

<!-- insert

<footer id="fragmnetTag" th:fragment="footer1">
<div class="container" >
 	<h1>about the code</h1>
 	<h2> programming</h2>
 	
 	<p>gvdsnweygdhvbx cnbvdufjbchxn </p>
</div>
</footer> -->

<!-- include -->
<footer id="fragmnetTag" th:fragment="footer1">
<div class="container" >
 	<h1>about the code</h1>
 	<h2> programming</h2>
 	
 	<p>gvdsnweygdhvbx cnbvdufjbchxn </p>
 	
</div>
</footer>
</body>
</html>